@use '../abstract/var';

body {
  font-family: var.$text-font;
  font-size: var.$size-text;
  margin: 0 auto;
}

a{
    color: var.$encre;
    text-decoration: none;
}

li{
    list-style: none;
}

h1{
    font-family: var.$title-font;
    line-height: 1.08;
    font-size: 80px;
    font-weight: 100;
}

h2{
    font-size: 40px;
    font-family: var.$title-font;
    line-height: 1.15;
    font-weight: 100;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 64px;
        line-height: 1.12;
    }

    h2 {
        font-size: 34px;
    }
}

@media (max-width: 680px) {
    body {
        font-size: var.$size-text-mobile;
    }

    h1 {
        font-size: 44px;
        line-height: 1.18;
    }

    h2 {
        font-size: 28px;
        line-height: 1.2;
    }
}