@font-face {
    font-family: 'Amiamie'; 
    src: url('../../content//fonts/amiamie/ttf/Amiamie-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'Selectric';
    src: url('../../content/fonts/selectric/OTF/SelectricRoman.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}