//Color
$primary-color: #6B5122;
$second-color: #EA6016;
$background-color: #C4C8D1;
$background-second: #9EB0DA;
$encre: #2A2520;
$blanc: #C4C8D1;


//Size
$size-text: 16px;
$size-title: 32px;
$size-subtitle: 22px;
$size-text-mobile: 14px;

//Police
$text-font: 'Amiamie', sans-serif;
$title-font: 'Selectric', serif;